- @articles.each do |article|
  = link_to article_path(article) do
    .card
      .card_image
      .card_heart
        %span 23
      .card_detail
        %div
          %p= article.author_name
          %p= article.display_created_at
