@import 'header';
@import 'tabs';
@import 'variables';
@import 'card';
@import 'article';
@import 'buttons';
@import 'form';

body {
    height: 100%;
   
    font-size: 1em;
    
  }


  .container {
    padding: 16px 16px;
    width: 100%;
  }
